<%= form_for(todo) do |f| %>
    <% if todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
            <% todo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.fields_for :tags do |ff| %>
          <%= ff.text_field :name, size: 20 %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: true}, {style: 'width:200px'} %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, size: 100 %>
    </div>

    <div class="field">
      <%= f.label :priority %>
      <%= f.text_field :priority, size: 100 %>
    </div>

    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags, value: todo.tags.map(&:name).join(', '), size: 100 %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, cols: 100, rows: 10 %>
    </div>

    <div class="field">
      <%= f.label :show_at %>
      <%= f.text_field :show_at, size: 100 %>
    </div>

    <div class="field">
      <%= f.label :completed_at %>
      <%= f.text_field :completed_at, size: 100 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
