<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Tags</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.category.try(:name) %></td>
        <td><%= todo.title %></td>
        <td><%= todo.tags.map(&:name).join(',') %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete %></td>
        <td><%= link_to 'Complete',  action: "complete", id: todo.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
