<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @todo.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @todo.tags %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>Show at:</strong>
  <%= @todo.show_at %>
</p>

<p>
  <strong>Complete at:</strong>
  <%= @todo.complete_at %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
